#python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
.env.local
.env.*
.env
.venv

#virtual env
venv/

# VSCode / PyCharm
.vscode/

logs
logs/

naming
exporting

task.log
db_data
.dockerignore
index2.html